<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main layout:fragment="main">
    <section>
        <header class="d:flex">
            <h1 class="ml:2 fw:3
                            fs:5
                            deco
                            deco-size:5
                            icon:trophy " id="a1">메뉴 목록</h1>
            <div><a class="n-btn n-btn-size:1 m:3 ml:4" href="reg">추가</a></div>
        </header>

        <section class="bg-color:base-4 p:2 border-radius:3">
            <h1 class="d:none">카테고리 목록</h1>
            <ul class="n-list n-tag-list ml:2">
                <li><a href="">커피</a></li>
                <li><a href="" class="color:main-1">쿠키</a></li>
                <li><a href="">과일청</a></li>
                <li><a href="">샌드위치</a></li>
            </ul>
        </section>

        <section>
            <h1 class="d:none">메뉴 검색폼</h1>
            <form class="n-form">
                <div>
                    <label class="flex-direction:row align-items:center">
                        <span class="font-weight:3 color:base-7 w:1">메뉴명</span>
                        <input class="n-textbox">
                    </label>
                </div>
                <div>
                    <button class="n-btn n-btn-type:outline deco icon:magnifying_glass">검색</button>
                    <button class="n-btn n-btn-type:outline">초기화</button>
                </div>
            </form>
        </section>

    </section>
</main>
</body>
</html>