<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/components/menu/card.css" rel="stylesheet" type="text/css"/>
    <link href="/css/components/menu/menu-filter.css" rel="stylesheet" type="text/css"/>
    <link href="/css/components/menu/basket-status.css" rel="stylesheet" type="text/css"/>
    <link href="/css/components/menu/list.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.32/dist/style.css" />
    <title>Rland...</title>
</head>
<body>
    <main layout:fragment="main">
        <section class="n-container mx:auto border">
            <header>
                <h1 class="font-size:7 fw:3 deco icon:trophy">메뉴 목록</h1>
                <div>
                    <button class="n-btn n-btn-size:4">추가</button>
                </div>
            </header>
        </section>
        <section>
            <form>
                <label>메뉴검색
                    <input class="border " type="text">
                </label>
                <div>
                    <button>검색</button>
                    <button>초기화</button>
                </div>
            </form>

        </section>

        <section class="n-container mx:auto border ">
            <h1 class="d:none">카테고리 목록</h1>
            <ul>
                <li><a href="">커피</a></li>
                <li><a href="">쿠키</a></li>
                <li><a href="">과일청</a></li>
                <li><a href="">샌드위치</a></li>
                <li><a href="">샌드위치</a></li>
            </ul>
        </section>
    </main>
</body>
</html>